<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
	<select id="sequence" resultType="long">
		select board_seq.nextval from dual
	</select>

	<insert id="createBoard">
		insert into board(board_no, board_title, account_no)
		values(#{boardNo}, #{boardTitle}, #{accountNo})
	</insert>
	
	<select id="selectBoardList" resultType="BoardDto">
		select * from board where account_no = #{accountNo}
	</select>
	
	<select id="selectGuestBoardList" resultType="GuestBoardDto">
		with guest_board as (
			select bm.board_no, b.board_title, b.account_no as creator_no
			from board_member bm join board b on bm.board_no = b.board_no
			where bm.account_no = #{accountNo} and bm.account_no != b.account_no
		)
    	select gb.board_no, gb.board_title, gb.creator_no, a.account_nickname
    	from guest_board gb join account a on gb.creator_no = a.account_no
	</select>
	
	<select id="selectOne" resultType="BoardDto">
		select * from board where board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard">
		delete board where board_no = #{boardNo}
	</delete>
	
	<insert id="enterBoard">
		insert into board_member(board_no, account_no)
		values(#{boardNo}, #{accountNo})
	</insert>
	
	<select id="selectBoardMember" resultType="int">
		select count(*) from board_member where board_no = #{boardNo} and account_no = #{accountNo}
	</select>
	
</mapper>









